<h1 style="text-align: center;">It's not a joint, just a Salami</h1>
<h3 style="text-align: center;">Products:</h3>
<mat-grid-list *ngIf="products" cols="12" rowHeight="0.4:1">
  <mat-grid-tile [colspan]="2"></mat-grid-tile>
  <mat-grid-tile *ngFor="let product of products" [colspan]="2">
    <div style="width: 100%; height: 100%;">
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile [colspan]="1">
          <img class="img" src="{{ product.imageURL }}" />
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="8:1">
        <mat-grid-tile>
          <p>{{ product.name }}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>{{ product.cost }}CHF</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="width: 30%;">
            <mat-label>Amount</mat-label>
            <input
              matInput
              placeholder="Ex. 2"
              [(ngModel)]="amount"
              type="number"
            />
          </mat-form-field>
          <button
            mat-raised-button
            width="70%;"
            (click)="addToDatabase()"
            color="primary"
          >
            Add
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
